
/* pink */
$pink: #FF7F9D;
$mdPink: #C46279;
$dkPink: #811B33;

/* blue */



$header-font: Montserrat, sans-serif;
$body-font-family: work-sans, sans-serif;
$fancy-font-family: 'Cormorant SC', serif;

@mixin for-phone-only {
  @media (max-width: 400px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 500px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}


h1 {
  font-family: $header-font;
 
  font-size: 3.3em;
  letter-spacing: .08em;
  line-height: 1em;
  @include for-tablet-landscape-up {    
    font-size: 3rem;
}
}

h3 #fancy {
  font-family: $fancy-font-family;

}
h2 {
  font-family: $fancy-font-family;

  font-size: 2.4em;
}
h3 {

  font-size: 2em;
  letter-spacing: .03em;
  text-transform: uppercase;
  font-family: $fancy-font-family;
  color: black;
  
}
h4 {
  font-family: $body-font-family;

  font-size: 1em;
  font-weight: 300;
  letter-spacing: .018em;
  
}
h5 {
  font-family: $body-font-family;
  font-size: .9em;
  font-weight: 500;
  text-transform: uppercase;
}
h6 {
  font-family: $body-font-family;

  font-size: .9em;
  font-weight: 400;
  letter-spacing: .05em;
    @include for-phone-only {    
      font-size: 1rem;
}
}
p {
  font-family: $body-font-family;

  font-size: 1rem;
  font-weight: 400;
@include for-tablet-portrait-up()  {    
  font-size: 1.2rem;
}
  @include for-tablet-landscape-up  {    
    font-size: 1.3rem;
}
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-image: linear-gradient(black,red);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


button {
  font-size: 1rem;
  width: 40%;
  padding:1rem;
  margin: 1.5rem;
}

.navbar-toggler {
  border: none;
  outline: none;
}

#navButton:active, #navButton:focus, #navButton:target, #navButton:visited, #navButton:focus-visible, #navButton:focus-within  {
  border: none;
  outline: none;
}

#navButton {
  width: 2em;
  height: 2em;
  outline: none;
}

.icons {
  width: 2em;
  height: 2em;
}

#burger_menu {
  width: 1.5em;
  height: 1.5em;
  outline: none;

}

.icons:hover, #burger_menu {
  filter: brightness(160%);
  transform: scale(1.2, 1.2);
}

.list-item:hover {
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  cursor: pointer;
}
.form-check:hover, .form-check-input:hover, .form-check-label:hover, select:hover {
  cursor: pointer;
}

select:hover {
  filter: brightness(130%)
}


body {
    margin: 0;
}

ul.sidescroll {
  overflow-x: scroll;
}

.pillDiv {
  background-image: linear-gradient(130deg, rgba(129, 211, 255, .3), rgba(129, 211, 255, .1), );
}
#gradYear {
  font-size: .8rem;
}
.teamDiv {
  @include for-phone-only() {    
    width: 300px;
    height: 220px;
    }   
  @include for-tablet-portrait-up() {
    width: 300px;
    height: 250px;
  }
}
#contributions {
  list-style: none;
}
.teamLI p {
  font-size: .6rem;
}
.footerLinks {
  text-decoration: none;
}
/*
a:link - a normal, unvisited link
a:visited - a link the user has visited
a:hover - a link when the user mouses over it
a:active
*/

#chart2 rect {
	fill: orange;
}

.bar {
  fill: steelblue;
}

#chart3 {
  padding: 20px;
}



.no-list-style {
  list-style: none;
}

.list-item {
  width: 17em;
}
.img-holder {
  height: 15em;
}

.btn-icon {
  width: 215em
}

.ChangeProductNumberCart {
  width: 1.5em;
  height: 1.5em;
}
#ChangeProductNumberCart {
  width: 7em;
}
 
.list-item-title {
  height: 3em;
}

input {
  font-family: $body-font-family;
}







